<?xml version="1.0" encoding="UTF-8"?>
<!-- XML declaration for a Spring bean configuration file. It tells Spring how to interpret and validate the contents of the XML file.-->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 1. <beans xmlns="...">
Declares the default namespace as Spring’s bean schema.

This tells Spring that all elements inside <beans> should be interpreted as Spring bean definitions.

2. xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
Declares the XML Schema Instance namespace.

Required for schema validation.

3. xsi:schemaLocation="..."
Provides a mapping between the XML namespace and its XSD schema file (for validation).

First URL: Logical namespace (Spring beans namespace).

Second URL: Physical schema location (the actual XSD file Spring uses). -->

		<bean id="consultant" class="Consultant"></bean>
		</beans>